@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);


/*[aria-hidden=true] {visibility: hidden; display: none}
[aria-hidden=false] {visibility: visible; display: inline-block};*/


h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

.body{
    margin-top: 2em;
}

.center{
    align-content: center;
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}

.blisen{
    color: #000090;
}

.button-m{
    display: inline-block;
    width: 100%;
    padding: 1em 2em;

    background-color: #de4f4f;
    color: white;

    margin: 0.1em 0;
}
    .button-m:hover{
        background-color: #ce2f2f;
        color: white;
        text-decoration: none;
    }


/*-------------------------------------------------------------- Nav ---------------------------------------------------------------------*/

nav{
    margin-bottom: 2em;
}

nav a{
    display: inline-block;
    width: 25em;
    padding: 1em 2em;

    background-color: #de4f4f;
    color: white;

    margin: 0.1em 1em;
}
    nav a:hover{
        background-color: #ce2f2f;
        color: white;
        text-decoration: none;
    }


/*------------------------------------------------------------- Listes -------------------------------------------------------------------*/
.limitedHeight{
    max-height: 66vh;
    overflow: auto;
}

.listPanel{
    width: 100%;

    background-color: white;
}

.listPanel h1{
    display: inline-block;
    width: 100%;

    border-bottom: solid 1px #dedede;
}

.promotionListPanel{

}

.newPromo{
    display: block;
    background-co: #fff;

    height: auto;
    margin-bottom: 2em;
}

.promotionListPanel ul{
    display: block;
    list-style: none;

    width: 100%;

    margin: 1em 0 0 0;
    padding: 0;
}

.promotionListPanel ul li{
    display: block;

    width: inherit;
    height: 5em;
    padding: 1em 2em;

    text-align: center;
}
    .promotionListPanel ul li:nth-child(2n){
        background-color: #fff;
    }
    .promotionListPanel ul li:nth-child(2n+1){
        background-color: #efefef;
    }
    .promotionListPanel ul li:hover{
        background-color: #dddddd;
    }


.fileListPanel{

}


.fileListPanel ul{
    display: block;
    list-style: none;

    width: 100%;

    margin: 1em 0 0 0;
    padding: 0;
}

.fileListPanel ul li{
    display: block;

    width: inherit;
    height: 5em;
    padding: 1em 2em;

    text-align: center;
}
    .fileListPanel ul li:nth-child(2n){
        background-color: #fff;
    }
    .fileListPanel ul li:nth-child(2n+1){
        background-color: #efefef;
    }
    .fileListPanel ul li:hover{
        background-color: #dddddd;
    }

/*------------------------------------------------------------- Upload Iframe -------------------------------------------------------------------*/
.uploadIframe{
    width: 98%;
    margin: 1%;
    min-height: 20em;
    border: gray 1px solid;
    border-radius: 5px;
}

/*------------------------------------------------------------- Data -------------------------------------------------------------------*/

table{
    width: 100%;
    border: black 1px solid;
    text-align: center;
}
table th{
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    text-align: center;
}

table td, table th{
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    width: 10%;
}

table tr:nth-child(2n){
    background-color: #fff;
}

table tr:nth-child(2n+1){
    background-color: #efefef;
}

table tr:hover{
    background-color: #dddddd;
}


/*------------------------------------------------------------- width% -------------------------------------------------------------------*/

.w75{
    width: 75%;
}


/*------------------------------------------------------------- inputs -------------------------------------------------------------------*/

input[type="file"]{
    background: none;
    border: none;
}

.upload {
    overflow: hidden;
    height: 34px;
    width: 100%;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
}

.upload input {
    position: absolute;
    top: 0;
    left: 0;
    display: block !important;
    height: 34px;
    width: 100%;
    opacity: 0 !important;
    overflow: hidden !important;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------- Non Perso ------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------*/


body {
    background-color:#c5efff;
}

.caseBody {
	background-color: #c5efff;
}

.cellOne {
	background-color: #FFFFCC;
}

.cellDoc {
	/*background-color: #FFFFCC;*/
	background-color: #c5efff;
}

.cellTwo {
	background-color: #CCFFCC;
}

.cellPromo {
	/*background-color: #CCFFCC;*/
	background-color: #c5efff;
}

.button {
	color: white;
	background-color: #666699;
	border-bottom: thin solid #222244;
	border-right:  thin solid #222244;
	border-top: thin solid #9999cc;
	border-left: thin solid #9999cc;
	font-size: 11px;
	font-family: Geneva,Helvetica,sans-serif;
	font-weight: normal;
	cursor: pointer;
}

label.error {
	font-size: 10px;
  font-family: Verdana,Helvetica,sans-serif;
  font-weight: bold;
  color: #b80000;
}

.spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -150px; /* half width of the spinner gif */
	margin-top: -150px; /* half height of the spinner gif */
	text-align:center;
	z-index:1234;
	overflow: auto;
	width: 300px; /* width of the spinner gif */
	height: 300px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.titre {
	font-size: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  color: #000090;
}

.titreBis {
	font-size: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  color: #B72321;
}

.texte {
	font-size: 14px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  color: #000090;
}

.notice {
	font-size: 10px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  text-align:justify;
  color: #000090;
}

.monLabel {
	font-size: 14px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  color: #000090;
}

.monMessage {
	font-size: 14px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  color: #B72321;
}

.titreTabDoc {
	font-size: 16px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  color: #000090;
}

.labelTabDoc {
	font-size: 16px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: normal;
  color: #000000;
}

.messageTabDoc {
	font-size: 14px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  color: #B72321;
  vertical-align: middle;
}

.intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#selectPromo {
	font-size: 14px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: normal;
  color: #000000;
  vertical-align: middle;
}
